/* ---- BASE ----- */
:root {
    /* FONTES */
    --font-titulo: 'Montserrat';
    /*Montserrat weight: 100 to 900*/
    --font-texto: 'Open Sans';
    /*Open Sans weight: 300 to 800*/

    /* PALETA DE CORES*/
    --bege: #fdf7f1;
    --roxo: #bca4c2;
    --verde-claro: #b6d8c5;
    --laranja-claro: #f4a772;
    --azul-claro: #d9dde0;
    --azul-medio: #81b7c2;
    --azul-escuro: #45717a;
    --cinza-texto: #4A4A4A;
    --branco: #ffffff;

}

/* Montserrat - Light (300) */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
/* Montserrat - Regular (400) */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* Montserrat - Medium (500) */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
/* Open Sans - Regular (400) */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cinza-texto);
    background-color: var(--bege);
}

img.icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

p {
    margin-top: 0.5rem;
}

/* ---- HEADER ----- */
header {
    background-color: var(--azul-medio);
    color: var(--branco);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header img.psi {
    height: 2rem;
    width: auto;
}

/* menu lateral */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  max-width: 90%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #ffffff99;
  border-left: 1px solid #ffffff4d;
  box-shadow: -2px 0 10px #0000001a;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 2rem 3rem;
}

#menu.active {
  transform: translateX(0);
}

#menu.active ~ #btn-menu {
  opacity: 0;
}

#menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#menu ul li {
  width: 100%;
  margin: 0.5rem 0;
}

#menu .nav-link {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #e4cee9cb;
  color: var(--cinza-texto);
  border-radius: 7px;
  padding: 0.70rem 1.5rem;
  transition: background-color 0.3s;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 1px 1px 3px var(--azul-escuro);
}

#menu .nav-link:hover, #menu .nav-link:focus {
  background-color: #f8f0e7d3;
  box-shadow: 1px 1px 3px var(--laranja-claro);
}

#btn-menu {
  display: block;
  font-size: 2rem;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--azul-escuro);
}

#btn-fechar {
  width: fit-content;
  text-align: right;
  display: block;
  font-size: 2rem;
  margin: auto 0 auto auto;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--azul-escuro);
}

.botaowpp {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #25d366;
  padding: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s;
  line-height: 1;
  white-space: nowrap;
  box-shadow: 1px 1px 3px var(--laranja-claro);
}

.botaowpp:hover, .botaowpp:focus {
  background-color: #6ed09e;
  box-shadow: 1px 1px 3px var(--branco);
}

/* ---- HERO ----- */
.hero {
    background: linear-gradient(to bottom, var(--azul-claro), var(--bege));
    width: 100%;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--bege);
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    gap: 1rem;
    max-width: 500px;
}
section.hero {
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}

.hero h1 {
    font-family: var(--font-titulo);
    color: var(--azul-escuro);
    font-weight: 400;
    font-size: 3rem;
}
.titulo, .subtitulo {
    text-align: center;
    margin-bottom: 1.2rem;
    line-height: 1;
}

.hero .texto-hero {
    flex: 1;
    text-align: center;
    margin: 0.5rem auto;
}

.hero .foto-hero {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border: 1px solid var(--bege);
    box-shadow: 0 4px 10px var(--roxo);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border-radius: 0.3rem;
}
.foto-hero img {
    border-radius: inherit;
}

/* ---- SECTIONS ----- */
section {
    padding: 1.5rem 0;
}

section h2 {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 2rem;
    color: var(--azul-escuro);
    margin: 1rem 1rem 0.5rem;
}

/* ---- ATENDIMENTO ----- */
#atendimento .cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fffaf8;
  border-radius: 1rem;
  box-shadow: 0 0px 15px #dddddd;
  transition: transform 0.2s, box-shadow 0.3s;
  backdrop-filter: blur(4px);
  border: 1px solid var(--roxo); 
}

.card:hover {
    transform: scale(1.01);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card h3 {
    font-family: var(--font-titulo);
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: var(--azul-escuro);
}

.card-texto {
  padding: 0.3rem;
}

.texto-limitado {
  max-height: 4.5rem;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.ler-mais {
  background-color: transparent;
  border: none;
  color: var(--roxo);
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.ler-mais:hover {
  color: var(--azul-escuro);
}


/* ---- SOBRE ---- */
#sobre .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sobre .texto-sobre {
    margin: 0 auto;
}

#sobre .img-sobre img {
    border-radius: 1rem;
    width: 100%;
    margin-top: 1rem;
    display: block;
}  

/* ---- CONTATO ----- */
#contato .container{
    background: linear-gradient(to top, var(--azul-claro), var(--bege));
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    max-width: 900px;
    text-align: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.botao {
    color: var(--cinza-texto);
    background-color: var(--verde-claro);
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
}

.botao.whatsapp:hover, .botao.whatsapp:focus {
    background-color: #6ed09e;
}

.botao.email:hover, .botao.email:focus {
    background-color: #fce599;
}
  
.botao.insta:hover, .botao.insta:focus {
    background-color: #bf95e2;
}
  
.botao.linkedin:hover, .botao.linkedin:focus {
    background-color: #75a1e4;
}

/* ---- FOOTER ----- */
footer {
    background-color: var(--roxo);
    color: var(--branco);
    text-align: center;
    padding: 3rem 0;
    font-size: 0.9rem;
    margin-top: 3rem;
}

.credit {
    font-size: 0.7rem;
}

.credit a:hover {
    background-color: #b6d8c53f;
}