/* ---- BASE ----- */
:root {
  /* FONTES */
  --font-titulo: 'Unna';
  /*Unna weight: 400 or 700*/
  --font-texto: 'Open Sans';
  /*Open Sans weight: 300 to 800*/

  /* PALETA DE CORES*/
  --bege: #fdf7f1;
  --roxo: #bca4c2;
  --verde-claro: #b6d8c5;
  --laranja-claro: #f4a772;
  --azul-claro: #d1dce7;
  --azul-medio: #45717a;
  --azul-escuro: #3d575c;
  --cinza-texto: #4A4A4A;
  --branco: #ffffff;

  /* OUTROS */
  --radius: 0.8rem;
}

/* ---- FONTES ----- */
/* Unna - Regular (400) */
@font-face {
  font-family: 'Unna';
  src: url('../assets/fonts/Unna-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* Unna - Bold (700) */
@font-face {
  font-family: 'Unna';
  src: url('../assets/fonts/Unna-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* Open Sans - Regular (400) */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* Open Sans - SemiBold (600) */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: var(--font-texto);
  font-weight: 400;
  font-size: 1rem;
  color: var(--cinza-texto);
  background-color: var(--bege);
}

img.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

p {
  margin-top: 0.5rem;
}

strong {
  font-weight: 600;
}

/* ---- HEADER ----- */
header {
  background-color: var(--azul-medio);
  color: var(--branco);
}

.mini-contatos {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
}

.mini-botao {
  padding: 0.3rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  transition: background-color 0.3s;
  background-color: #59919c;
}

.mini-botao img.icon {
  display: inline-flex;
  width: 1.3rem;
  height: 1.3rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header img.psi {
  height: 2rem;
  width: auto;
}

/* menu lateral */
#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  max-width: 90%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #ffffff99;
  border-left: 1px solid #ffffff4d;
  box-shadow: -2px 0 10px #0000001a;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 2rem 3rem;
}

#menu.active {
  transform: translateX(0);
}

#menu.active ~ #btn-menu {
  opacity: 0;
}

#menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#menu ul li {
  width: 100%;
  margin: 0.5rem 0;
}

#menu .nav-link {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #e4cee9d7;
  color: var(--cinza-texto);
  border-radius: var(--radius);
  padding: 0.70rem 1.5rem;
  transition: background-color 0.3s;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 1px 1px 3px var(--azul-escuro);
}

#menu .nav-link:hover, #menu .nav-link:focus {
  background-color: #f8f0e7d3;
  box-shadow: 1px 1px 3px var(--laranja-claro);
}

#btn-menu {
  display: block;
  font-size: 2rem;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--azul-escuro);
}

#btn-fechar {
  width: fit-content;
  text-align: right;
  display: block;
  font-size: 2rem;
  margin: auto 0 auto auto;
  color: var(--white);
  text-shadow: 1px 1px 3px var(--azul-escuro);
}

.botaowpp {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #25d366;
  padding: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s;
  line-height: 1;
  white-space: nowrap;
  box-shadow: 1px 1px 3px var(--laranja-claro);
}

.botaowpp:hover, .botaowpp:focus {
  background-color: #6ed09e;
  box-shadow: 1px 1px 3px var(--branco);
}

/* ---- HERO ----- */
.hero {
  background: linear-gradient(to bottom, var(--azul-claro), var(--bege));
  width: 100%;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bege);
  padding: 1rem;
  border-radius: var(--radius) var(--radius) 0 0;
  gap: 1rem;
  max-width: 500px;
}
section.hero {
  padding-bottom: 0;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.hero h1 {
  font-family: var(--font-titulo);
  color: var(--azul-escuro);
  font-weight: 400;
  font-size: 3.5rem;
}
.titulo, .subtitulo {
  text-align: center;
  margin-bottom: 1.2rem;
  line-height: 1;
}

.linha-laranja {
  width: 12rem;
  height: 0.3rem;
  background-color: var(--laranja-claro);
  border: none;
  margin: 2rem auto;
}

.hero .texto-hero {
  flex: 1;
  text-align: center;
  margin: 0.5rem auto;
}

.hero .foto-hero {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border: 1px solid var(--bege);
  box-shadow: 0 4px 10px var(--roxo);
  margin: 0 auto;
  border-radius: 0;
}
.foto-hero img {
  border-radius: inherit;
}

/* ---- SECTIONS ----- */
section {
  padding: 1.5rem 0;
}

section h2 {
  font-family: var(--font-titulo);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--azul-escuro);
  margin: 1rem;
}

/* ---- ATENDIMENTO ----- */
#atendimento .cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.card img {
  width: 5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.glow {
  position: relative;
  display: inline-block;
}

.glow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  z-index: 0;
  border-radius: 50%;
}

.verde::before {
  background: radial-gradient(circle, #a5c9b5, transparent 70%);
  filter: blur(20px);
}

.roxo::before {
  background: radial-gradient(circle, #bca4c2, transparent 70%);
  filter: blur(20px);
}

.laranja::before {
  background: radial-gradient(circle, #f3a978, transparent 70%);
  filter: blur(20px);
}

.glow img {
  position: relative;
  z-index: 1;
}

.card h3 {
  font-family: var(--font-texto);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: var(--azul-escuro);
}

.card-texto {
  padding: 0.3rem;
  background-color: #fffaf8;
  border-radius: var(--radius);
  box-shadow: 0 0px 15px #dddddd;
  transition: transform 0.2s, box-shadow 0.3s;
  backdrop-filter: blur(4px);
  border: 1px solid var(--roxo); 
  max-width: 500px;
}

.texto-limitado {
  max-height: 6.3rem;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.ler-mais {
  border: none;
  color: var(--roxo);
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.ler-mais:hover {
  color: var(--azul-escuro);
}

/* ---- SOBRE ---- */
#sobre .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sobre .texto-sobre {
  margin: 0 auto;
}

#sobre .img-sobre img {
  border-radius: var(--radius);
  width: 100%;
  margin-top: 1rem;
  display: block;
}  

/* ---- CONTATO ----- */
#contato .container{
  background: linear-gradient(to top, var(--azul-claro), var(--bege));
  padding: 1rem;
  border-radius: 0 0 var(--radius) var(--radius);
  max-width: 900px;
  text-align: center;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.botao {
  color: var(--cinza-texto);
  background-color: var(--verde-claro);
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
}

.whatsapp:hover, .whatsapp:focus {
  background-color: #6ed09e;
}

.email:hover, .email:focus {
  background-color: #fce599;
}

.insta:hover, .insta:focus {
  background-color: #bf95e2;
}

.linkedin:hover, .linkedin:focus {
  background-color: #75a1e4;
}

/* ---- FOOTER ----- */
footer {
  background-color: var(--roxo);
  color: var(--branco);
  text-align: center;
  padding: 3rem 0;
  font-size: 0.9rem;
  margin-top: 3rem;
}

.credit {
  font-size: 0.7rem;
}

.credit a:hover {
  background-color: #b6d8c53f;
}

/* ---- LINKS ----- */
#links .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bege);
  padding: 1rem;
  max-width: 500px;
}

section#links {
  padding-block: 0;
  margin-bottom: 1.5rem;
  background: linear-gradient(to bottom, var(--azul-claro), var(--bege));
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.links .botao {
  width: 100%;
  justify-content: center;
}

.links .botao:hover {
  background-color: #ddece3;
}

#links .foto-hero {
  width: 100%;
  max-width: 250px;
  object-fit: cover;
  border: 1px solid var(--bege);
  box-shadow: 0 4px 10px var(--roxo);
  margin: 0 auto;
  border-radius: 0;
}
#links .foto-hero img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

#links h1 {
  font-family: var(--font-titulo);
  color: var(--azul-escuro);
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.5rem;
}

#links p {
  text-align: center;
  margin: 0;
  line-height: 1;
}

#links hr {
  margin-block: 1.2rem;
}